@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.player-button {
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    font-size: 19px;
    height: 40px;
    width: 32px;
    margin-right: 12px;
}

.time {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 12px;
}

.progress-container {
    flex-grow: 1;
    height: 4px;
    background-color: grey;
    border-radius: 2px;
    margin: 0 8px;
    cursor: pointer;
    position: relative;
}

.progress-slider {
    background-color: red;
    height: 100%;
    border-radius: 2px;
}

.left-time, .right-time {
    width: 50px; 
    text-align: center;
}

.controls-panel {
    background: black;
    display: flex;
    align-items: center;
    height: 40px;
}

#player {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,5);
    display: flex;
    flex-direction: column;
}

.display {
    flex-grow: 1;
}

.space {
    flex-grow: 1;
}